In [1]:
%matplotlib inline
import matplotlib
import pandas as pd
import os

# to see in class example refer to 21/2/02

# Read the CRE CSV

In [2]:
df = pd.read_csv("gentrified_LA_data02.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

# show all columns
pd.set_option('display.max_columns', None)

df.head()

,OBJECTID,Zip Code,Index Score,Index Quartile,Retail Bldgs 2000,New Retail Bldgs 2000-14,Total Retail Bldgs 2014,Ret Inv 2000 (SF),Ret Inv 2014 (SF),% Change in Retail Bldgs 2000-14,% Change in Retail SF 2000-14,% Chg in Avg Retail Bldg SF 2000-14,Change in Total Acres 2000-14,New MF Projects 2000-14,MF Projects Sold at Least Once between 2000-14,% of New MF Projects Sold at Least Once 2000-14,New MF SF 2000-14,New MF Acres 2000-14,New MF Units 2000-14,New Studios 2000-14,New 1 BR 2000-14,New 2 BR 2000-14,New 3 BR 2000-14,New 4 BR 2000-14,% Studio,% 1BR,% 2BR,% 3BR,% 4BR
12,4,90004,0.483,4,221.0,5.0,226.0,1478335.0,1631773.0,0.02262,0.103791,0.07940,0.02760,22.0,5.0,0.227273,563662.0,5.2223,461.0,0.0,112.0,125.0,16.0,0.0,0.0000,0.4427,0.4941,0.0632,0.0000
13,5,90005,0.460,4,107.0,5.0,112.0,924611.0,1063075.0,0.04673,0.149754,0.09840,0.05680,24.0,4.0,0.166667,2152331.0,10.1619,1545.0,202.0,520.0,278.0,56.0,40.0,0.1843,0.4745,0.2536,0.0511,0.0365
14,6,90006,0.466,4,287.0,14.0,301.0,2880631.0,3162516.0,0.04878,0.097855,0.04680,0.04930,22.0,4.0,0.181818,1084592.0,16.2827,893.0,4.0,263.0,267.0,116.0,0.0,0.0062,0.4046,0.4108,0.1785,0.0000
15,9,90010,0.437,4,21.0,4.0,25.0,268039.0,431190.0,0.19048,0.608684,0.35129,0.36018,4.0,1.0,0.250000,1066573.0,6.6112,1049.0,153.0,606.0,281.0,0.0,0.0,0.1471,0.5827,0.2702,0.0000,0.0000
16,11,90012,0.548,4,177.0,3.0,180.0,2232081.0,2286655.0,0.01695,0.024450,0.00738,0.03960,23.0,7.0,0.304348,4149979.0,33.3963,3786.0,505.0,1326.0,1255.0,122.0,37.0,0.1556,0.4086,0.3867,0.0376,0.0114

In [3]:
# get the shape of the file
df.shape

(97, 29)

# Select CRE features, place into dataframe

In [4]:
# remove non-feature columns
selected_features = df.drop(['OBJECTID'], axis=1)
selected_features.head()

,Zip Code,Index Score,Index Quartile,Retail Bldgs 2000,New Retail Bldgs 2000-14,Total Retail Bldgs 2014,Ret Inv 2000 (SF),Ret Inv 2014 (SF),% Change in Retail Bldgs 2000-14,% Change in Retail SF 2000-14,% Chg in Avg Retail Bldg SF 2000-14,Change in Total Acres 2000-14,New MF Projects 2000-14,MF Projects Sold at Least Once between 2000-14,% of New MF Projects Sold at Least Once 2000-14,New MF SF 2000-14,New MF Acres 2000-14,New MF Units 2000-14,New Studios 2000-14,New 1 BR 2000-14,New 2 BR 2000-14,New 3 BR 2000-14,New 4 BR 2000-14,% Studio,% 1BR,% 2BR,% 3BR,% 4BR
12,90004,0.483,4,221.0,5.0,226.0,1478335.0,1631773.0,0.02262,0.103791,0.07940,0.02760,22.0,5.0,0.227273,563662.0,5.2223,461.0,0.0,112.0,125.0,16.0,0.0,0.0000,0.4427,0.4941,0.0632,0.0000
13,90005,0.460,4,107.0,5.0,112.0,924611.0,1063075.0,0.04673,0.149754,0.09840,0.05680,24.0,4.0,0.166667,2152331.0,10.1619,1545.0,202.0,520.0,278.0,56.0,40.0,0.1843,0.4745,0.2536,0.0511,0.0365
14,90006,0.466,4,287.0,14.0,301.0,2880631.0,3162516.0,0.04878,0.097855,0.04680,0.04930,22.0,4.0,0.181818,1084592.0,16.2827,893.0,4.0,263.0,267.0,116.0,0.0,0.0062,0.4046,0.4108,0.1785,0.0000
15,90010,0.437,4,21.0,4.0,25.0,268039.0,431190.0,0.19048,0.608684,0.35129,0.36018,4.0,1.0,0.250000,1066573.0,6.6112,1049.0,153.0,606.0,281.0,0.0,0.0,0.1471,0.5827,0.2702,0.0000,0.0000
16,90012,0.548,4,177.0,3.0,180.0,2232081.0,2286655.0,0.01695,0.024450,0.00738,0.03960,23.0,7.0,0.304348,4149979.0,33.3963,3786.0,505.0,1326.0,1255.0,122.0,37.0,0.1556,0.4086,0.3867,0.0376,0.0114

In [5]:
# get the shape of the file
selected_features.shape

(97, 28)

In [ ]:
# run correlation of CRE variables against index score
selected_features.corr()

### Keep CRE columns with strongest correlations

In [6]:
# keep higher correlation columns
selected_features = selected_features[['Zip Code', 'Index Quartile', 'Total Retail Bldgs 2014', 'New MF Projects 2000-14', \
                                      '% Change in Retail Bldgs 2000-14', '% Studio', '% 2BR']]
selected_features.head()

,Zip Code,Index Quartile,Total Retail Bldgs 2014,New MF Projects 2000-14,% Change in Retail Bldgs 2000-14,% Studio,% 2BR
12,90004,4,226.0,22.0,0.02262,0.0000,0.4941
13,90005,4,112.0,24.0,0.04673,0.1843,0.2536
14,90006,4,301.0,22.0,0.04878,0.0062,0.4108
15,90010,4,25.0,4.0,0.19048,0.1471,0.2702
16,90012,4,180.0,23.0,0.01695,0.1556,0.3867

In [7]:
# get the shape of the file
selected_features.shape

(97, 7)

### Bring in Census data

In [8]:
# show all columns
pd.set_option('display.max_columns', None)

df_census = pd.read_csv("gentrified_LA_data01.csv")
df_census.head()

,OBJECTID,Zip Code,Rank,Neighborhood,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Score,Index Percentile,Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014),Evaluated,Zip,Retail Bldgs 2000,New Retail Bldgs 2000-14,Total Retail Bldgs 2014,Ret Inv 2000 (SF),Ret Inv 2014 (SF),% Change in Retail Bldgs 2000-14,% Change in Retail SF 2000-14,% Chg in Avg Retail Bldg SF 2000-14,Change in Total Acres 2000-14,Input_#3_Zip,New MF Projects 2000-14,MF Projects Sold at Least Once between 2000-14,% of New MF Projects Sold at Least Once 2000-14,New MF SF 2000-14,New MF Acres 2000-14,New MF Units 2000-14,New Studios 2000-14,New 1 BR 2000-14,New 2 BR 2000-14,New 3 BR 2000-14,New 4 BR 2000-14,% Studio,% 1BR,% 2BR,% 3BR,% 4BR,Input_#4_Zip,Bldgs Sold Demo 00-14,MF SF Sold Demo 00-14,MF Total Acres Sold Demo 00-14,MF Sold Demo Average Age,Input_#5_Zip,RET Prop Sold Demoed 01-14,RET SF Sold Demoed 01-14,RET Avg Age Sold Demoed 01-14,RET Acres Sold Demoed 01-14,Input_#6_Zip,2014_Median_HomePrice
0,1,90001,37,Florence,-47.007,-2.759,-0.086,1.561,24.858,0.389561,0.669,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,0.248399,33279.05739,2.316600,54481,56314,3.4,Yes,90001.0,259.0,19.0,278.0,1347052.0,1497516.0,0.0734,0.111699,0.0357,0.137598,90001.0,3.0,2.0,0.666667,57780.0,1.2649,46.0,0.0,5.0,14.0,27.0,0.0,0.000000,0.108696,0.304348,0.586957,0.000000,90001.0,11.0,65653.0,3.8364,94.181818,90001.0,2.0,3143.0,36.000000,1.0386,90001.0,248958.3333
1,2,90002,57,Watts/Green Meadows,-44.965,1.683,0.346,1.309,25.733,0.359525,0.486,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,0.257143,31443.73944,-3.910920,44584,50098,12.4,Yes,90002.0,67.0,5.0,72.0,338627.0,353235.0,0.0746,0.043100,-0.0293,0.027700,90002.0,4.0,3.0,0.750000,205360.0,2.4951,174.0,0.0,39.0,82.0,52.0,1.0,0.000000,0.224138,0.471264,0.298851,0.005750,NaN,NaN,NaN,NaN,NaN,90002.0,6.0,39111.0,72.666667,1.4631,90002.0,237333.3333
2,3,90003,33,Florence/Broadway-Manchester,-41.524,3.000,-0.182,2.798,35.303,0.402008,0.706,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,0.353690,30720.61042,-2.293608,58187,66913,15.0,Yes,90003.0,426.0,14.0,440.0,1635439.0,1728064.0,0.0329,0.056600,0.0230,0.054800,90003.0,16.0,1.0,0.062500,367908.0,4.1484,235.0,14.0,11.0,42.0,54.0,93.0,0.065400,0.051400,0.196262,0.252336,0.434579,90003.0,2.0,31200.0,0.3880,63.000000,90003.0,5.0,45526.0,72.600000,2.3245,90003.0,271954.5833
3,4,90004,15,East Hollywood/Larchmont/Windsor Square,-32.379,-6.873,3.060,11.296,29.716,0.483000,0.871,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3,Yes,90004.0,221.0,5.0,226.0,1478335.0,1631773.0,0.0226,0.103791,0.0794,0.027600,90004.0,22.0,5.0,0.227273,563662.0,5.2223,461.0,0.0,112.0,125.0,16.0,0.0,0.000000,0.442688,0.494071,0.063200,0.000000,90004.0,13.0,440269.0,6.8533,66.307692,90004.0,3.0,20474.0,90.666667,1.0935,90004.0,853666.2500
4,5,90005,20,Koreatown/Mid-Wilshire,-41.123,-8.214,0.934,7.120,24.864,0.460000,0.825,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2,Yes,90005.0,107.0,5.0,112.0,924611.0,1063075.0,0.0467,0.149754,0.0984,0.056800,90005.0,24.0,4.0,0.166667,2152331.0,10.1619,1545.0,202.0,520.0,278.0,56.0,40.0,0.184307,0.474453,0.253650,0.051100,0.036500,90005.0,32.0,223137.0,7.0523,82.968750,90005.0,4.0,114268.0,66.250000,2.6023,90005.0,550625.0000

In [9]:
# get the shape of the file
df_census.shape

(110, 69)

In [10]:
# Set up x values/features df with just control model columns, this is cut #1

# rename dataframe
df_census = df_census.iloc[:, 0:29]
df_census.head()

,OBJECTID,Zip Code,Rank,Neighborhood,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Score,Index Percentile,Index Quartile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,1,90001,37,Florence,-47.007,-2.759,-0.086,1.561,24.858,0.389561,0.669,3,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,0.248399,33279.05739,2.316600,54481,56314,3.4
1,2,90002,57,Watts/Green Meadows,-44.965,1.683,0.346,1.309,25.733,0.359525,0.486,2,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,0.257143,31443.73944,-3.910920,44584,50098,12.4
2,3,90003,33,Florence/Broadway-Manchester,-41.524,3.000,-0.182,2.798,35.303,0.402008,0.706,3,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,0.353690,30720.61042,-2.293608,58187,66913,15.0
3,4,90004,15,East Hollywood/Larchmont/Windsor Square,-32.379,-6.873,3.060,11.296,29.716,0.483000,0.871,4,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3
4,5,90005,20,Koreatown/Mid-Wilshire,-41.123,-8.214,0.934,7.120,24.864,0.460000,0.825,4,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2

In [11]:
# get the shape of the file
df_census.shape

(110, 29)

In [12]:
# remove non-feature columns
df_census = df_census.drop(['OBJECTID', 'Neighborhood', 'Rank', 'Index Score', 'Index Quartile'], axis=1)
df_census.head()

,Zip Code,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Percentile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,90001,-47.007,-2.759,-0.086,1.561,24.858,0.669,24.339,12.898,34050,4.35,4.23,0.78,0.69,2.41,3.97,781,975,0.248399,33279.05739,2.316600,54481,56314,3.4
1,90002,-44.965,1.683,0.346,1.309,25.733,0.486,27.413,15.087,30214,4.16,4.23,0.47,0.81,3.00,4.31,770,968,0.257143,31443.73944,-3.910920,44584,50098,12.4
2,90003,-41.524,3.000,-0.182,2.798,35.303,0.706,31.808,18.600,30016,4.00,4.12,0.68,0.49,3.30,6.09,786,1064,0.353690,30720.61042,-2.293608,58187,66913,15.0
3,90004,-32.379,-6.873,3.060,11.296,29.716,0.871,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3
4,90005,-41.123,-8.214,0.934,7.120,24.864,0.825,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2

In [13]:
# get the shape of the file
df_census.shape

(110, 24)

### Merge CRE with Census file

In [14]:
selected_features_CRE = pd.merge(selected_features, df_census, on='Zip Code')
selected_features_CRE.head()

,Zip Code,Index Quartile,Total Retail Bldgs 2014,New MF Projects 2000-14,% Change in Retail Bldgs 2000-14,% Studio,% 2BR,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),Index Percentile,High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,90004,4,226.0,22.0,0.02262,0.0000,0.4941,-32.379,-6.873,3.060,11.296,29.716,0.871,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3
1,90005,4,112.0,24.0,0.04673,0.1843,0.2536,-41.123,-8.214,0.934,7.120,24.864,0.825,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2
2,90006,4,301.0,22.0,0.04878,0.0062,0.4108,-59.321,-5.740,0.556,5.770,29.007,0.844,19.180,7.802,31403,3.31,3.12,2.83,3.38,9.03,14.80,729,940,0.289438,28310.63861,10.922966,62765,61419,-2.1
3,90010,4,25.0,4.0,0.19048,0.1471,0.2702,14.734,-12.376,-24.633,9.410,101.817,0.807,0.392,0.449,47308,2.02,1.77,40.19,15.56,38.49,47.90,811,1637,1.018496,44106.74591,7.257969,1943,3792,95.2
4,90012,4,180.0,23.0,0.01695,0.1556,0.3867,-48.230,-4.741,3.890,14.298,43.928,0.944,2.572,1.331,29492,2.32,2.21,12.54,16.43,12.92,27.22,775,1116,0.440000,27704.36504,6.452539,30577,30029,-1.8

In [15]:
# get the shape of the file
selected_features_CRE.shape

(97, 30)

In [16]:
# write file to csv (note this includes the x variable and the zip code, use this for mapping)

selected_features_CRE.to_csv("census_cre_features_w_zip.csv", index=False, header=True)

In [17]:
# remove non-feature columns
selected_features_CRE = selected_features_CRE.drop(['Zip Code', 'Index Percentile'], axis=1)
selected_features_CRE.head()

,Index Quartile,Total Retail Bldgs 2014,New MF Projects 2000-14,% Change in Retail Bldgs 2000-14,% Studio,% 2BR,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014)
0,4,226.0,22.0,0.02262,0.0000,0.4941,-32.379,-6.873,3.060,11.296,29.716,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3
1,4,112.0,24.0,0.04673,0.1843,0.2536,-41.123,-8.214,0.934,7.120,24.864,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2
2,4,301.0,22.0,0.04878,0.0062,0.4108,-59.321,-5.740,0.556,5.770,29.007,19.180,7.802,31403,3.31,3.12,2.83,3.38,9.03,14.80,729,940,0.289438,28310.63861,10.922966,62765,61419,-2.1
3,4,25.0,4.0,0.19048,0.1471,0.2702,14.734,-12.376,-24.633,9.410,101.817,0.392,0.449,47308,2.02,1.77,40.19,15.56,38.49,47.90,811,1637,1.018496,44106.74591,7.257969,1943,3792,95.2
4,4,180.0,23.0,0.01695,0.1556,0.3867,-48.230,-4.741,3.890,14.298,43.928,2.572,1.331,29492,2.32,2.21,12.54,16.43,12.92,27.22,775,1116,0.440000,27704.36504,6.452539,30577,30029,-1.8

In [18]:
# get the shape of the file
selected_features_CRE.shape

(97, 28)

### Assign x and y variables

In [19]:
# one-hot encode just the index quartile column, we want to change the coding to just reveal the top 25% = 1, rest=0
selected_features_CRE = pd.get_dummies(selected_features_CRE, prefix=['Index Quartile'], columns=['Index Quartile'])
selected_features_CRE.head()

,Total Retail Bldgs 2014,New MF Projects 2000-14,% Change in Retail Bldgs 2000-14,% Studio,% 2BR,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014),Index Quartile_1,Index Quartile_2,Index Quartile_3,Index Quartile_4
0,226.0,22.0,0.02262,0.0000,0.4941,-32.379,-6.873,3.060,11.296,29.716,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3,0,0,0,1
1,112.0,24.0,0.04673,0.1843,0.2536,-41.123,-8.214,0.934,7.120,24.864,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2,0,0,0,1
2,301.0,22.0,0.04878,0.0062,0.4108,-59.321,-5.740,0.556,5.770,29.007,19.180,7.802,31403,3.31,3.12,2.83,3.38,9.03,14.80,729,940,0.289438,28310.63861,10.922966,62765,61419,-2.1,0,0,0,1
3,25.0,4.0,0.19048,0.1471,0.2702,14.734,-12.376,-24.633,9.410,101.817,0.392,0.449,47308,2.02,1.77,40.19,15.56,38.49,47.90,811,1637,1.018496,44106.74591,7.257969,1943,3792,95.2,0,0,0,1
4,180.0,23.0,0.01695,0.1556,0.3867,-48.230,-4.741,3.890,14.298,43.928,2.572,1.331,29492,2.32,2.21,12.54,16.43,12.92,27.22,775,1116,0.440000,27704.36504,6.452539,30577,30029,-1.8,0,0,0,1

In [20]:
# get the shape of the file
selected_features_CRE.shape

(97, 31)

In [21]:
# drop columns of dummied 1,2,3
selected_features_CRE = selected_features_CRE.iloc[:, 0:28]
selected_features_CRE.head()

,Total Retail Bldgs 2014,New MF Projects 2000-14,% Change in Retail Bldgs 2000-14,% Studio,% 2BR,% Change in IRS Ratio,% Change in Median Household Size,Change in % White Non Hispanic,Change in % >=25 with Bachelor's Degrees,% Change in Rent (Inflation Adjusted),High to Low AGI Ratio (2000),High to Low AGI Ratio (2014),Median Household Income (2014),Median Household Size (2000),Median Household Size (2013),% White Non-Hispanic (2000),% White Non-Hispanic (2014),% >=25 w Bachelor's Degree (2000),% >=25 w Bachelor's Degree (2014),Median Gross Rent (2000 - Inflation Adjusted),Median Gross Rent 2014,% Change in Median Gross Rent,Median Household Income (2000 - Inflation Adjusted),% Change in Median Houshold Income (Inflation Adjusted),Population (2000),Population (2014),Population Change (2000-2014),Index Quartile_1
0,226.0,22.0,0.02262,0.0000,0.4941,-32.379,-6.873,3.060,11.296,29.716,2.338,1.581,38493,2.91,2.71,14.30,17.36,22.30,33.59,825,1070,0.296970,37931.27907,1.480891,67850,63547,-6.3,0
1,112.0,24.0,0.04673,0.1843,0.2536,-41.123,-8.214,0.934,7.120,24.864,4.074,2.399,31214,2.80,2.57,7.56,8.49,19.03,26.15,752,939,0.248670,30242.19046,3.213423,43014,38638,-10.2,0
2,301.0,22.0,0.04878,0.0062,0.4108,-59.321,-5.740,0.556,5.770,29.007,19.180,7.802,31403,3.31,3.12,2.83,3.38,9.03,14.80,729,940,0.289438,28310.63861,10.922966,62765,61419,-2.1,0
3,25.0,4.0,0.19048,0.1471,0.2702,14.734,-12.376,-24.633,9.410,101.817,0.392,0.449,47308,2.02,1.77,40.19,15.56,38.49,47.90,811,1637,1.018496,44106.74591,7.257969,1943,3792,95.2,0
4,180.0,23.0,0.01695,0.1556,0.3867,-48.230,-4.741,3.890,14.298,43.928,2.572,1.331,29492,2.32,2.21,12.54,16.43,12.92,27.22,775,1116,0.440000,27704.36504,6.452539,30577,30029,-1.8,0

In [22]:
# assign X (data) and y (target)

# note we drop our new outcome variable from the rest of the data to get our X variables
X = selected_features_CRE.drop("Index Quartile_1", axis=1)

# define our y by selecting the column within the dataframe
y = selected_features_CRE["Index Quartile_1"]

# get # of observations and variables (note, the 2nd parens doesn't have a variable number
# because the values is still a string)
print(X.shape, y.shape)

(97, 27) (97,)

### Split the data into training and testing

In [23]:
from sklearn.model_selection import train_test_split

# i modded this train_size
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.65, stratify=y)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [24]:
# confirm size of training set (default is 75% of the dataframe)
len(X_train)

63

In [25]:
# confirm size of test set (the other 25%)
len(X_test)

34

### Scale the variables

In [26]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

In [27]:
# scale both the training and the testing data
X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

C:\Users\JTS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

C:\Users\JTS\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

### Create a logistic regression model

In [28]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Fit (train) or model using the training data

In [30]:
classifier.fit(X_train, y_train)

C:\Users\JTS\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [31]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Validate the model using the test data

In [32]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9841269841269841
Testing Data Score: 0.9705882352941176

### Make predictions

In [33]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 1 0 0 0 0 1 0]
First 10 Actual labels: [0, 0, 0, 1, 0, 0, 0, 0, 1, 0]

In [34]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            1       1
4            0       0
5            0       0
6            0       0
7            0       0
8            1       1
9            0       0
10           0       0
11           1       1
12           0       0
13           0       0
14           1       1
15           0       0
16           0       0
17           1       1
18           0       0
19           0       1
20           0       0
21           0       0
22           0       0
23           1       1
24           0       0
25           0       0
26           0       0
27           0       0
28           0       0
29           0       0
30           0       0
31           0       0
32           0       0
33           0       0

In [36]:
# get coefficients, now because they are scaled we can truly assess weight of the their influence on the model
print(classifier.coef_)

[[ 0.40927462 -0.21463702  0.43836294  0.8356344   0.42241349  0.31800391
   0.17080384 -0.45648168 -0.81633815 -0.22852596 -0.03951741 -0.14151173
  -0.00539364  0.17561005  0.21971613  0.40798671  0.34714684 -0.22435027
  -0.37676722  0.50565348  0.23865333 -0.22528235  0.42181563 -0.80719217
  -0.10525065 -0.02261149  0.09698822]]

In [ ]:
# write file to csv (note this is only the x variables, it does not include the zip codes)

selected_features_CRE.to_csv("census_cre_features.csv", index=False, header=True)

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
# import joblib
# filename = 'your_name.sav'
# joblib.dump(your_model, filename)